@model Git.Web.Data.GitRepo

@if (!Model.CouldRetriveCommits)
{
    <tr>
        <th colspan="5"><p class="alert alert-danger">@Model.ErrorMessage</p></th>
    </tr>
}
else
{
    <tr class="git-commit">
        <th>Commiter Name</th>
        <th colspan="2">Message</th>
        <th>Sha</th>
        <th>Date</th>
    </tr>
    @foreach (var commit in Model.GitCommits)
    {
        <tr class="git-commit">
            <td>@commit.Commit.committer.Name</td>
            <td colspan="2">@commit.Commit.Message</td>
            <td>@commit.Sha</td>
            <td>@commit.Commit.committer.Date</td>
        </tr>

    }
}